<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/block-BNaadw/blog-app/public/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container flex justify">
            <h1>
                Article-app
            </h1>
            <div>                
                <% if(user){ %>
                    <a href="/articles/new">
                        New Article
                    </a>
                    <h3>
                        <%= user.name %> 
                    </h3>
                    <a href="/users/logout">Logout</a>
                <% } %>
                <%else {%>
                    <h4>
                        Add
                    </h4>
                <% } %> 
            </div>
        </div>
    </header>
</body>
</html>